* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif, ' Poppins';
}

/* Navbar */
.navbar-section {
  background-color: #F55A5A;
  color: white;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar-section>img {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.navbar-section>p {
  font-size: 16px;
  letter-spacing: -0.021em;
  margin-left: 2px;
}

/*places-list*/
.places-list {
  display: flex;
  flex-direction: column;
  margin: 60px;
}


/*Place*/
.place-section {
  display: flex;
  align-items: center;

  padding-bottom: 21px;
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 21px;
}

.place-section:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.place-section>img {
  width: 220px;
  border-radius: 5px;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-left: 19px;

}

.location-section {
  display: flex;
  align-items: center;

}

.location-section>p {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;

  margin-left: 4px;
  margin-right: 12px;
}

.location-section>a {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.info-section>h1 {

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;

  margin-top: 7px;
}

.info-section>p:first-of-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: #2B283A;

  margin-top: 21px;

}

.info-section>p:nth-of-type(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #2B283A;

  margin-top: 9px;
  max-width: 600px;

}